{
    "experimentalTernaries": true,
    "printWidth": 120,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "semi": false,
    "bracketSpacing": true,
    "objectWrap": "collapse",
    "singleQuote": true
}
